@import "./helpers/fonts";

// Blocks styles
@import "../../blocks/**/*.scss";
// Components styles
@import "../../components/**/*.scss";

*,
*::before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.main {
  position: relative;
  font-family: "Gilroy-Regular";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
